* {
  margin: 0;
  padding: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  background-color: aqua;
  border: 2px solid black;
  gap: 25px;
  text-align: center;
  margin-top: 3px;
  padding: 10px 20px;
  border: 4px solid black;
}

.grid-container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkblue;
  font-size: 16px;
  gap: 20px;
  padding: 8px 10px;
  color: whitesmoke;
  /* border: 4px solid black; */
}

.grid-container > :hover {
  color: greenyellow;
  cursor: pointer;
}

.d1 {
  grid-column-start: 4;
  grid-column-end: 6;
}

.btn {
  color: white;
  background-color: black;
  /* line-height: 40px; */
  text-shadow: 20 15 13 16;
  padding: 10px;
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 3;
}
