* {
  margin: 0;
  padding: 0;
}

/* .flex_container {
  display: flex;
  background-color: red;
  flex-direction: center;
  justify-content: center;
  margin-top: 200px;
}

.flex_container > div {
  font-size: large;
  font-family: sans-serif;
  margin: 10px;
  padding: 40px;
  font-size: 30px;
  background-color: white;
  justify-content: row-reverse; */

.d1 {
  display: flex;
  flex-direction: row;
  background-color: aqua;
  justify-content: center;
  margin: 300px;
  width: 100px;
  height: 20px;
  box-shadow: 8px 9px 7px 4px;
  cursor: pointer;
  /* overflow: scroll; */
}

.d1 > .div {
  background-color: red;
  background-size: cover;
  margin: 20px;
  padding: 40px;
  font-size: 30px;
  /* height: 150px; */
  align-items: center;
  width: 200px;
  justify-items: center;
  padding-left: 40px;
  box-shadow: 8px 9px 7px 4px;
  line-height: 100px;
  /* text-align: center; */
}
